<span>Is this a recurrent event?</span>
<input type="checkbox" id="is-recurrent" name="is-recurrent" class="large-checkbox">
<div id="recurrence-wrapper">
  <div id="dropdowns-container"></div>
</div>
