<div class="d-flex">
  <div id="sidebar-container" class="bg-dark border-right">
    <div class="sidebar-heading text-light p-3">cvHealth</div>
    <div class="list-group list-group-flush">
      <% SIDEBAR_LINKS.each do |path, details| %>
        <a href="/<%= path %>" class="list-group-item list-group-item-action bg-dark text-white sidebar-link">
          <i class="<%= details.fetch(:icon) %>"></i>
          <%= details.fetch(:title) %>
        </a>
      <% end %>
    </div>
  </div>
</div>
