<style>
  .grid-table {
    width: 100%;
    display: grid;
    grid-template-columns: <%= "repeat(#{Array(@columns).count}, 1fr) auto auto;" %>;
    gap: 1px;
    background-color: #ccc;
    margin: 30px 0px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

  .grid-table > div {
    background-color: #fff;
    padding: 10px;
    text-align: left;
    transition: all 0.3s;
  }

  .grid-table > .header {
    text-align: left;
    padding-left: 10px;
    background-color: #343a40;
    color: #fff;
    font-size: 18px;
    cursor: default;
  }

  .grid-table > .icon-column:hover {
    background-color: #ddd;
    cursor: pointer;
  }

  .grid-table > .content-cell:hover {
    background-color: #ddd;
    cursor: pointer;
  }

  .grid-table i {
    color: #343a40;
    font-size: 1.5em;
    margin: 0 10px;
  }

  .button-table-container {
    display: flex;
    flex-direction: column;
  }

  .table-button {
    align-self: flex-end;
  }

</style>

<div class="button-table-container">

  <button class="button table-button rounded-shadow font"><i class="fas fa-plus-circle"></i> <%= @create_button_title %></button>

  <div class="grid-table rounded-shadow">
    <% Array(@columns).each do |x| %>
      <div class="header"><%= x[:name] %></div>
    <% end %>
    <div class="header icon-header"></div>
    <div class="header icon-header"></div>
    <% Array(@data).each do |x| %>
      <% Array(@columns).each do |y| %>
        <div class="content-cell">
          <%= x.fetch(y[:id], '') %>
        </div>
      <% end %>
      <div class="icon-column">
        <a href="/edit-meal-event?id=1"><i class="fas fa-edit"></i></a>
      </div>
      <div class="icon-column">
        <a href="/delete-meal-event?id=1"><i class="fas fa-trash"></i></a>
      </div>
    <% end %>
  </div>
</div>
