---
title: "Edit Item(s)"
components:
  - "form"
---

<% page_data = {} %>

<div
  data-component="form"
  data-props="<%= 
    {
      :form_mode => :edit,
      :action_url => "/update/#{page_data.fetch(:collection, nil)}/#{item_data.fetch('id')}",
      :item_data => nil
    }.to_json.gsub('"', '&quot;')
  %>">
</div>
