---
title: "Page"
type: "template"
components:
  - "header"
  - "sidebar"
---
<style>
  .page {
    display: flex;
    flex-direction: row;
  }
  .content {
    position: relative;
    margin: calc(var(--padding)/2);
    width: 100%;
  }
</style>

<div id="page">
  <div data-component="header"></div>
  <div class="page">
    <div data-component="sidebar"></div>
    <div class="content">
      <div id="_fragment"></div>
      <div data-component="_yield"></div>
    </div>
  </div>
</div>

<script>
  var element = document.querySelector('#page');
  var dataId = element.dataset.id;

  PubSub.subscribe(EVENTS.PAGE_SINGULAR_CHANGED, ({ action, data }) => {
    PubSub.publish(dataId, {
      "page": {
        action: action,
        data: data
      }
    });
  });

  PubSub.subscribe(EVENTS.COMPONENT_SINGULAR_CHANGED, ({ action, data }) => {
    PubSub.publish(dataId, {
      "component": {
        action: action,
        data: data
      }
    });
  });

  PubSub.subscribe(EVENTS.FRAGMENT_SINGULAR_CHANGED, ({ action, data }) => {
    PubSub.publish(dataId, {
      "fragment": {
        action: action,
        data: data
      }
    });
  });
</script>
