---
title: "Page"
type: "template"
components:
  - "header"
  - "sidebar"
---
<style>
  .page {
    display: flex;
    flex-direction: row;
  }
  .yield {
    margin: calc(var(--padding)/2);
    width: 100%;
  }
</style>

<div>
  <div id="_fragment"></div>
  <div data-component="header"></div>
  <div class="page">
    <div data-component="sidebar"></div>
    <div class="yield" data-component="_yield"></div>
  </div>
</div>
