---
title: "Table"
fragments:
  - "add_items"
  - "edit_items"
  - "delete_items"
  - "order_items"
  - "list_view"
---

<% fields = collection_config ? collection_config.fetch(:fields, []).select { |field| field.fetch(:display, true) } : [] %>
<% enable_move = true %>

<style>
  .grid-table {
    display: grid;
    gap: 1px;
    background-color: black;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

  .grid-row {
    display: grid;
    /* Adjust the first value if you need a wider icon column */
    grid-template-columns: 100px repeat(<%= fields.count %>, 1fr);
    width: 100%;
  }

  .grid-row .content-cell {
    background-color: #fff;
    padding: 15x;
    transition: all 0.3s;
    min-width: 100px;
    min-height: 20px;
  }

  .grid-row .content-cell:hover {
    background-color: #ddd;
    cursor: pointer;
  }

  .grid-row .header {
    background-color: black;
    color: #fff;
    font-size: 18px;
    cursor: default;
  }

  .grid-row .icon-column {
    background-color: #fff;
    padding: 10px;
    text-align: left;
    transition: all 0.3s;
    min-width: 50px;
    min-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid-row .icon-column:hover {
    background-color: #ddd;
    cursor: pointer;
  }

  .grid-table i {
    color: black;
    font-size: 1em;
  }

  #table-container {
    display: flex;
    flex-direction: column;
  }

  .grid-row > div {
    border-right: 1px solid #ccc;
  }

  .grid-row > div:last-child {
    border-right: none;
  }
</style>

<% unless fields.empty? %>
  <div id="table-container">
    <input type="hidden" id="enableMove" value="<%= enable_move %>">
    <div class="grid-table rounded-shadow" id="results">
      <div class="grid-row" id="headers">
        <!-- Add an empty div for the icon column -->
        <div class="header"></div>
        <% fields.each do |x| %>
          <div class="header"><%= x.fetch(:title, nil) %></div>
        <% end %>
      </div>
      <div id="template-row" class="grid-row sortable-row" style="display: none;">
        <div class="icon-column drag-handle">
          <i class="fas fa-bars"></i>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  var fieldsData = <%= fields.to_json %>;

  function createRowWithData(data) {
    var row = document.createElement('div');
    row.className = 'grid-row sortable-row';
    row.dataset.resource = data.resource;
    row.dataset.id = data.objectID; /* Use Algolia's objectID as the row identifier */

    /* Add the icon column for the drag handle */
    var iconColumn = document.createElement('div');
    iconColumn.className = 'icon-column drag-handle';
    iconColumn.innerHTML = '<i class="fas fa-bars"></i>';
    row.appendChild(iconColumn);

    fieldsData.forEach(function(column) {
      var cell = document.createElement('div');
      cell.className = 'content-cell';
      /* Directly use the column title as the property name to access Algolia data */
      var cellValue = data[column.title.toLowerCase()];
      cell.dataset.id = data.objectID;
      cell.textContent = cellValue || '';
      row.appendChild(cell);
    });

    return row;
  }

  function renderResults(data, container, searchTerm) {
    renderDataOrNoResults(data, container, searchTerm, createRowWithData, createNoResultsElement);
  }
</script>
