
.grid-table {
  display: grid;
  gap: 1px;
  background-color: black;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.grid-row {
  display: grid;
  width: 100%;
}

.grid-row:hover {
  cursor: pointer;
  background-color: #ddd;
}

.grid-row .content-cell {
  background-color: #fff;
  padding: 15px;
  transition: all 0.3s;
  min-width: 100px;
  min-height: 20px;
}

.grid-row .header {
  background-color: black;
  color: #fff;
  font-size: 18px;
  cursor: default;
  padding-left: calc(var(--padding) /2);
  padding-right: calc(var(--padding) /2);
  margin-top: calc(var(--padding) /2);
  margin-bottom: calc(var(--padding) /2);
}

.grid-row .icon-column {
  background-color: #fff;
  padding: 10px;
  text-align: left;
  transition: all 0.3s;
  min-width: 50px;
  min-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-table i {
  color: black;
  font-size: 1em;
}

.grid-row > div {
  border-right: 1px solid #ccc;
}

.grid-row > div:last-child {
  border-right: none;
}
