<body>
  <div class="d-flex">
    <div id="sidebar-container" class="bg-dark border-right">
      <div class="sidebar-heading text-light p-3">cvHealth</div>
      <div class="list-group list-group-flush">
        <a href="/meal-plan" class="list-group-item list-group-item-action bg-dark text-white"><i class="fas fa-calendar"></i> Meal Plan</a>
        <a href="/nutritional-components" class="list-group-item list-group-item-action bg-dark text-white"><i class="fas fa-apple-alt"></i> Nutritional Components</a>
        <a href="/foods" class="list-group-item list-group-item-action bg-dark text-white"><i class="fas fa-hamburger"></i> Foods</a>
        <a href="/food-categories" class="list-group-item list-group-item-action bg-dark text-white"><i class="fas fa-list-ul"></i> Food Categories</a>
        <a href="/meal-events" class="list-group-item list-group-item-action bg-dark text-white"><i class="fas fa-clock"></i> Meal Events</a>
        <a href="/recipes" class="list-group-item list-group-item-action bg-dark text-white"><i class="fas fa-clipboard-list"></i> Recipes</a>
        <a href="/statistics" class="list-group-item list-group-item-action bg-dark text-white"><i class="fas fa-chart-pie"></i> Statistics</a>
      </div>
    </div>
  </div>
</body>
