<!DOCTYPE html>
<html>
  <head>
    <title>cvHealth</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    
    <% css_files = Dir.glob('./public/styles/*.css').map { |path| path.split('/').last } %>
    <% css_files.each do |file| %>
      <link rel="stylesheet" type="text/css" href="/styles/<%= file %>">
    <% end %>

  </head>
    
  <body>
    <div class="d-flex">
      <%= erb :"shared/sidebar" %>
      <div class="page-content">
        <!-- Your page content goes here -->
        <%= yield %>
      </div>
    </div>

    <!-- JS -->
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    

    <% js_files = Dir.glob('./public/js/*.js').map { |path| path.split('/').last } %>
    <% js_files.each do |file| %>
      <script src="/js/<%= file %>"></script>
    <% end %>

  </body>
</html>
