<!DOCTYPE html>
<html>
  <head>
    <title>Cisco Vlahakis</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <% css_files = Dir.glob('./public/styles/*.css').map { |path| path.split('/').last } %>
    <% css_files.each do |file| %>
      <link rel="stylesheet" type="text/css" href="/styles/<%= file %>">
    <% end %>

  </head>

  <body>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file">
      <input type="submit" value="Upload">
    </form>
    <!-- Your page content goes here -->
    <%= yield %>

    <%= erb :"shared/user_modal" %>

    <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-firestore.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

    <% js_files = Dir.glob('./public/js/*.js').map { |path| path.split('/').last } %>
    <% js_files.each do |file| %>
      <script src="/js/<%= file %>"></script>
    <% end %>
    
  </body>
</html>
