<table id="calendar">
    <thead>
        <tr>
            <th></th>
            <th>Sun</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="weekday">Breakfast</td>
            <td>Oatmeal</td>
            <td>Cereal</td>
            <td>Pancakes</td>
            <td>Eggs</td>
            <td>Toast</td>
            <td>Bagel</td>
            <td>Waffles</td>
        </tr>
        <tr>
            <td class="weekday">Lunch</td>
            <!-- Repeat for lunch -->
        </tr>
        <!-- Repeat for each meal -->
    </tbody>
</table>
