---
- sidebar:
    render_if_exists: links
- content
---
<style>
  .page {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
</style>

<div class="page">
  <%= sidebar %>
  <%= content %>
</div>
