---
title: "Page"
type: "template"
components:
  - "header"
  - "sidebar"
---
<style>
  .page {
    display: flex;
    flex-direction: row;
  }
</style>

<div>
  <%= header %>
  <div class="page">
    <%= sidebar %>
    <%= _yield %>
  </div>
</div>
