---
- header
- sidebar
- content
---
<style>
  .page {
    display: flex;
    flex-direction: row;
  }
</style>

<div>
  <%= header %>
  <div class="page">
    <%= sidebar %>
    <%= content %>
  </div>
</div>
