---
title: "Page"
type: "template"
components:
  - "header"
  - "sidebar"
---
<style>
  .page {
    display: flex;
    flex-direction: row;
  }
</style>

<div>
  <%= header %>
  <div class="page">
    <%= sidebar %>
    <div style="width: 100%;">
      <div id="_fragment"></div>
      <%= _yield %>
    </div>
  </div>
</div>
