<style>
  #sidebar-container {
    width: 20vw;
    height: 100vh;
    min-height: 100vh;
    background-color: black;
    color: #fff;
  }

  #sidebar-container .sidebar-heading {
    display: flex;
    justify-content: center;
    align-itmes: center;
    font-size: calc(1.275rem + .3vw)!important;
    border-bottom: 1px solid gainsboro;
  }

  #sidebar-container .list-group-item {
    display: flex;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s;
    border: none;
    font-size: 1rem;
  }

  #sidebar-container .sidebar-heading,
  #sidebar-container .list-group-item {
    padding: 1.25rem;
  }

  #sidebar-container .list-group-item:hover,
  #sidebar-container .list-group-item.active {
    background-color: #343a40;
  }

  #sidebar-container .list-group-item,
  #sidebar-container .list-group-item.no-hover:hover {
    background-color: black;
  }

  #sidebar-container .list-group-item.no-hover {
    border-bottom: 1px solid #EEEEEE;
  }

  #sidebar-container .list-group-item i {
    font-size: 1.2em;
  }

  #sidebar-container .list-group-item.no-hover input[type='checkbox'] {
    margin: 0px;
    width: 16px;
    height: 16px;
  }

  #sidebar-container .list-group-item i,
  #sidebar-container .list-group-item.no-hover input[type='checkbox'] {
    margin-right: 12px;
  }

  .logo-thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
</style>

<div id="sidebar-container" data-links='<%= links.to_json %>' data-admin-links='<%= admin_links.to_json %>'>
  <div class="sidebar-heading text-center">
  <% if icon && !icon.empty? %>
      <img src="<%= icon %>" alt="Logo" class="logo-thumbnail">
    <% else %>
      <img src="https://via.placeholder.com/150" alt="Placeholder" class="logo-thumbnail">
    <% end %>
  </div>
  <div id="menuContainer">
  </div>
  <% if current_user && current_user[:admin] %>
    <div class="list-group-item no-hover">
      <input type="checkbox" id="adminMenuCheckbox">
      <label for="adminMenuCheckbox"> Admin Menu </label>
    </div>
  <% end %>
</div>

<script>
  function fetchPageData(route) {
    var promise = window.db.collection("pages").where("route", "==", route).get();
    return window.db.collection("pages").where("route", "==", route).get()
      .then(function(querySnapshot) {
        var title = '';
        var icon = '';
        querySnapshot.forEach(function(doc) {
          title = doc.data().title;
          icon = doc.data().icon;
        });
        return { title: title, icon: icon, route: route };
      })
      .catch(function(error) {
        console.error("Error getting documents from Firebase: ", error);
      });
  }

  function createTab(data) {
    var link = document.createElement('a');
    link.href = "/" + data.route;
    link.className = "list-group-item sidebar-link";
    var icon = document.createElement('i');
    icon.className = data.icon;
    link.appendChild(icon);
    link.appendChild(document.createTextNode(data.title));
    var menuContainer = document.getElementById('menuContainer');
    menuContainer.appendChild(link);
  }

  function renderSidebar() {
    var sidebar = document.getElementById('sidebar-container');
    var links = JSON.parse(sidebar.dataset.links);
    links.forEach(function(link) {
      fetchPageData(link).then(createTab);
    });
  }

  window.firebaseInitialized.then(() => {
    renderSidebar();
  }).catch(error => {
    console.error('Error during Firebase initialization:', error);
  });
</script>
