<style>
  .sidebar_header_flatlist {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .header_flatlist {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: var(--padding);
    padding-right: var(--padding);
  }
</style>

<div class="sidebar_header_flatlist">
  <%= sidebar %>
  <div class="header_flatlist">
    <%= header %>
    <%= flatlist %>
  </div>
</div>
