<% page_data = defined?(page_data) && !page_data.nil? ? page_data : {} %>
<% resource_properties = defined?(resource_properties) && !resource_properties.nil? ? resource_properties : {} %>

<style>
  #sidebar {
    width: 20vw;
    height: 100vh;
    background-color: black;
    color: #fff;
    display: flex;
    padding-top: 5px;
    flex-direction: column;
  }
  
  #sidebar .tab {
    display: flex;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s;
    border: none;
    font-size: 14px;
    height: 32px;
    align-items: center;
    cursor: pointer;
    justify-content: flex-start;
  }

  #sidebar .tab:hover,
  #sidebar .tab.active {
    background-color: #343a40;
  }

  #sidebar .tab i {
    font-size: 1em;
    margin-right: 6px;
  }

  .dropdown .dropdown-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .dropdown .dropdown-toggle .caret {
    margin-right: 6px;
    transition: transform 0.3s ease;
  }

  .dropdown .dropdown-menu {
    display: none;
    flex-direction: column;
  }

  .dropdown .dropdown-menu.show {
    display: flex;
  }

  #sidebar .tab.dropdown-item {
    padding-left: 27px;
  }

  #sidebar .tab.dropdown-toggle {
    padding-left: 10px;
  }
</style>

<div id="sidebar">
</div>

<script>
  function fetchDataFromCollection(collectionName, field, operator, value) {
    return window.db.collection(collectionName).where(field, operator, value).get()
      .then(function(querySnapshot) {
        var data = querySnapshot.docs.map(function(doc) {
          return doc.data();
        });
        return data.length > 0 ? data[0] : {};
      })
      .catch(function(error) {
        console.error("Error getting documents: ", error);
      });
  }

  function createAnchorElement(textContent, href, className) {
    var anchor = document.createElement('a');
    anchor.className = className;
    anchor.textContent = textContent;
    anchor.href = href;
    return anchor;
  }

  function createToggle(properties) {
    var toggle = document.createElement('div');
    toggle.className = 'tab dropdown-toggle';
    toggle.id = 'dropdownMenu' + (properties.title || '').replace(/\s+/g, '');
    toggle.setAttribute('data-toggle', 'dropdown');
    toggle.setAttribute('aria-haspopup', 'true');
    toggle.setAttribute('aria-expanded', 'false');
    toggle.innerHTML = '<span class="caret">&#9660;</span> ' + properties.title;
    return toggle;
  }

  function createMenu(toggleId) {
    var menu = document.createElement('div');
    menu.className = 'dropdown-menu show';
    menu.setAttribute('aria-labelledby', toggleId);
    return menu;
  }

  function appendChildrenToMenu(menu, data, collectionName) {
    if (collectionName !== "pages" && collectionName !== "actions") return;
    data = (data || {})[collectionName];
    var field = collectionName === "pages" ? "route" : "fragment";
    (data || []).forEach(function(value) {
      fetchDataFromCollection(collectionName, field, "==", value).then(function(data) {
        var path = data.route ? "/" + data.route : "#" + data.fragment
        path = path || "#";
        var menuItem = createAnchorElement(
          data.title || "Resource Not Found",
          path,
          'dropdown-item tab'
        );
        menu.appendChild(menuItem);
      });
    });
  }

  function createDropdownComponent(properties) {
    var dropdown = document.createElement('div');
    dropdown.className = 'dropdown';

    var toggle = createToggle(properties);
    var menu = createMenu(toggle.id);

    var route = properties.route;
    if (route) {
      var homeTab = createAnchorElement("Home", route, 'dropdown-item tab');
      menu.prepend(homeTab);
    }

    dropdown.appendChild(toggle);
    dropdown.appendChild(menu);

    toggle.addEventListener('click', function() {
      menu.classList.toggle('show');
      toggle.querySelector('.caret').textContent = menu.classList.contains('show') ? '\u25BC' : '\u25B6';
    });

    appendChildrenToMenu(menu, properties, "pages");
    appendChildrenToMenu(menu, properties, "actions");

    return dropdown;
  }

  function shouldCreateDropdown(properties) {
    return (properties.pages && properties.pages.length > 0) ||
      (properties.actions && properties.actions.length > 0);
  }

  function appendChildrenToDropdown(sidebar, properties) {
    if (shouldCreateDropdown(properties)) {
      var dropdown = createDropdownComponent(properties);
      sidebar.appendChild(dropdown);
    }
  }

  function initializeSidebar() {
    var sidebar = document.getElementById('sidebar');
    var pageData = <%= page_data.to_json %>;
    appendChildrenToDropdown(sidebar, pageData);

    var allComponentProperties = <%= resource_properties.to_json %>;
    Object.keys(allComponentProperties).forEach(function(component_name) {
      var properties = allComponentProperties[component_name];
      appendChildrenToDropdown(sidebar, properties);
    });
  }

  window.firebaseInitialized
    .then(initializeSidebar).
    catch(function(error) {
      console.error('Error during Firebase initialization:', error);
    });
</script>
