<% page_data = defined?(page_data) && !page_data.nil? ? page_data : {} %>
<% all_component_properties = defined?(all_component_properties) && !all_component_properties.nil? ? all_component_properties : {} %>

<style>
  #sidebar {
    width: 20vw;
    height: 100vh;
    background-color: black;
    color: #fff;
    display: flex;
    padding-top: 5px;
    flex-direction: column;
  }
  
  #sidebar .tab {
    display: flex;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s;
    border: none;
    font-size: 14px;
    height: 32px;
    align-items: center;
    cursor: pointer;
    justify-content: flex-start;
  }

  #sidebar .tab:hover,
  #sidebar .tab.active {
    background-color: #343a40;
  }

  #sidebar .tab i {
    font-size: 1em;
    margin-right: 6px;
  }

  .dropdown .dropdown-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .dropdown .dropdown-toggle .caret {
    margin-right: 6px;
    transition: transform 0.3s ease;
  }

  .dropdown .dropdown-menu {
    display: none;
    flex-direction: column;
  }

  .dropdown .dropdown-menu.show {
    display: flex;
  }

  #sidebar .tab.dropdown-item {
    padding-left: 27px;
  }

  #sidebar .tab.dropdown-toggle {
    padding-left: 10px;
  }
</style>

<div id="sidebar">
</div>

<script>
  function fetchPageData(route) {
    return window.db.collection("pages").where("route", "==", route).get()
      .then(function(querySnapshot) {
        var data = querySnapshot.docs.map(function(doc) {
          return doc.data();
        });
        return data.length > 0 ? data[0] : {};
      })
      .catch(function(error) {
        console.error("Error getting documents from Firebase: ", error);
      });
  }

  function createDropdownOption(pageData) {
    var menuItem = document.createElement('a');
    menuItem.className = 'dropdown-item tab';
    menuItem.textContent = pageData.title || 'Untitled';
    menuItem.href = pageData.route || '#';
    return menuItem;
  }

  function createDropdownComponent(properties, component_name) {
    var dropdown = document.createElement('div');
    dropdown.className = 'dropdown';

    var toggle = document.createElement('div');
    toggle.className = 'tab dropdown-toggle';
    toggle.id = 'dropdownMenu' + component_name;
    toggle.setAttribute('data-toggle', 'dropdown');
    toggle.setAttribute('aria-haspopup', 'true');
    toggle.setAttribute('aria-expanded', 'false');
    toggle.innerHTML = '<span class="caret">&#9660;</span> ' + properties.title;

    var menu = document.createElement('div');
    menu.className = 'dropdown-menu show';
    menu.setAttribute('aria-labelledby', 'dropdownMenu' + component_name);

    dropdown.appendChild(toggle);
    dropdown.appendChild(menu);

    toggle.addEventListener('click', function() {
      menu.classList.toggle('show');
      toggle.querySelector('.caret').textContent = menu.classList.contains('show') ? '\u25BC' : '\u25B6';
    });

    (properties.pages || []).concat(properties.actions || []).forEach(function(item) {
      fetchPageData(item).then(function(pageData) {
        var menuItem = createDropdownOption(pageData);
        menu.appendChild(menuItem);
      });
    });

    return dropdown;
  }

  function shouldCreateDropdown(properties) {
    return (properties.pages && properties.pages.length > 0) || (properties.actions && properties.actions.length > 0);
  }

  function initializeSidebar() {
    var sidebar = document.getElementById('sidebar');
    var pageData = <%= page_data.to_json %>;
    if (shouldCreateDropdown(pageData)) {
        var initialDropdown = createDropdownComponent(pageData, 'initial');
        sidebar.appendChild(initialDropdown);
      }

    var allComponentProperties = <%= all_component_properties.to_json %>;
    Object.keys(allComponentProperties).forEach(function(component_name) {
      var properties = allComponentProperties[component_name];
      if (shouldCreateDropdown(properties)) {
          var componentDropdown = createDropdownComponent(properties, component_name);
          sidebar.appendChild(componentDropdown);
        }
    });
  }

  window.firebaseInitialized.then(() => {
    initializeSidebar();
  }).catch(function(error) {
    console.error('Error during Firebase initialization:', error);
  });
</script>
