---
- __props__:
    title: String
    route: String
    img_src: String
    icon: String
    pages: Array
    actions: Array
    current_user: Hash
    session: Hash
---
<style>
  #sidebar {
    width: 20vw;
    height: 100vh;
    background-color: black;
    color: #fff;
    display: flex;
    padding-top: 5px;
    flex-direction: column;
  }
  
  #sidebar .tab {
    display: flex;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s;
    border: none;
    font-size: 14px;
    height: 32px;
    align-items: center;
    cursor: pointer;
    justify-content: flex-start;
  }

  #sidebar .tab:hover,
  #sidebar .tab.active {
    background-color: #343a40;
  }

  #sidebar .tab i {
    font-size: 1em;
    margin-right: 6px;
  }

  .dropdown .dropdown-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .dropdown .dropdown-toggle .caret {
    margin-right: 6px;
    transition: transform 0.3s ease;
  }

  .dropdown .dropdown-menu {
    display: none; /* Initially hidden */
    flex-direction: column;
  }

  .dropdown .dropdown-menu.show {
    display: flex; /* Show when active */
  }

  #sidebar .tab.dropdown-item {
    padding-left: 27px;
  }

  #sidebar .tab.dropdown-toggle {
    padding-left: 10px;
  }
</style>


<div id="sidebar">
</div>

<script>
  function fetchPageData(route) {
    return window.db.collection("pages").where("route", "==", route).get()
      .then(function(querySnapshot) {
        var title = '';
        var icon = '';
        querySnapshot.forEach(function(doc) {
          title = doc.data().title;
          icon = doc.data().icon;
        });
        return { title: title, icon: icon, route: route };
      })
      .catch(function(error) {
        console.error("Error getting documents from Firebase: ", error);
      });
  }

  function createDropdownOption(pageData) {
    var menuItem = document.createElement('a');
    menuItem.className = 'tab dropdown-item';
    menuItem.textContent = pageData.title;
    menuItem.href = pageData.route;
    return menuItem;
  }

  function renderSidebar() {
    var title = '<%= title %>';
    var route = '<%= route %>';
    var icon = '<%= icon %>';
    var routes = <%= pages.to_json %>;
    var sidebar = document.getElementById('sidebar');

    var dropdown = document.createElement('div');
    dropdown.className = 'dropdown';
  
    var toggle = document.createElement('div');
    toggle.className = 'tab dropdown-toggle';
    toggle.innerHTML = '<span class="caret">&#9660;</span>' + title;

    var menu = document.createElement('div');
    menu.className = 'dropdown-menu show';
    dropdown.appendChild(toggle);
    dropdown.appendChild(menu);
    sidebar.appendChild(dropdown);

    toggle.addEventListener('click', function() {
      var caret = this.querySelector('.caret');
      if (menu.classList.contains('show')) {
        menu.classList.remove('show');
        menu.style.display = 'none';
        caret.innerHTML = '&#9654;'; // Change caret to point to the right
      } else {
        menu.classList.add('show');
        menu.style.display = 'flex';
        caret.innerHTML = '&#9660;'; // Change caret to point down
      }
    });

    var homeOption = createDropdownOption(
      {
        title: "Home",
        route: route,
        icon: icon
      }
    );
    homeOption.classList.add('active');
    menu.appendChild(homeOption);

    routes.forEach(function(route) {
      fetchPageData(route).then(function(pageData) {
        var dropdownOption = createDropdownOption(pageData);
        menu.appendChild(dropdownOption);
      });
    });
  }

  window.firebaseInitialized.then(() => {
    renderSidebar();
  }).catch(error => {
    console.error('Error during Firebase initialization:', error);
  });
</script>
