#recurrence-wrapper {
  display: block;
}

.recurrence-select {
  display: none;
  /* Hide dropdowns initially */
  /* Removed the flex-shrink and max-width properties */
}

.large-checkbox {
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-button:hover {
  background-color: #444;
}

.dropdown-content {
  display: none;
  position: absolute;
  padding: 0;
  margin: 0;
  z-index: 9999;
  /* Add this line */
}

.dropdown-content p {
  padding: 10px 20px;
  margin: 0;
  background-color: #fff;
  color: #000;
  font-size: 14px;
  cursor: pointer;
}

.dropdown-content p:hover,
.dropdown-content p.selected {
  background-color: #ccc;
}
