---
name: "Header"
type: "component"
---

<div id="header">
  <div class="search-bar">
    <div class="breadcrumb-container" id="breadcrumbs"></div>
    <input type="search" name="search" placeholder="Search...">
  </div>
  <div id="activityIndicator">
    <div class="spinner"></div>
  </div>
</div>
