---
name: "Page"
type: "template"
components:
  - "header"
  - "sidebar"
---

<div id="page">
  <div data-component="header"></div>
  <div class="page">
    <div data-component="sidebar"></div>
    <div class="content">
      <div id="_fragment"></div>
      <div data-component="_yield"></div>
    </div>
  </div>
</div>
