---
name: "Table"
type: "component"
---

<div id="table">
  <div class="grid-table rounded-shadow" id="results">
    <div class="grid-row" id="headers">
    </div>
    <div id="template-row" class="grid-row sortable-row" style="display: none;">
    </div>
  </div>
</div>
