---
name: "Table Controller"
type: "component"
fragments:
  - "add_items"
  - "edit_items"
  - "delete_items"
  - "order_items"
  - "enable_pagination"
  - "list_view"
components:
  - "table"
hasStyles: false
---

<div id="table-controller">
  <div data-component="table"></div>
</div>
