---
name: "Utility Panel"
type: "component"
---

<div class="utility-panel">
  <div class="utility-header">
    <span class="utility-button" id="minimize">_</span>
    <span class="utility-button" id="expand">[]</span>
    <span class="utility-button" id="close">X</span>
  </div>
  <div class="utility-content" data-yield></div>
</div>
