:root {
  --padding: 1rem !important;
  --border-radius: 10px;
  --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--bs-font-sans-serif)
}

.app-container {
  display: flex;
  flex-direction: row; /* Make sure sidebar and page content are in the same row */
}

.page-content {
  width: 80vw; /* Take up the remaining space */
  padding: var(--padding);
  background-color: white
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px; /* Add space below the header */
}

.search-tag-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 10px;
}

.search-bar {
  padding-bottom: 10px;
  position: relative;
  display: flex;
  border-bottom: 2px solid black;
  width: 100%;
}

.breadcrumb-container {
  display: flex;
  gap: 10px;
  margin-right: 10px;
}

.breadcrumb, .tag {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: none;
  background-color: white;
  color: black;
  border-radius: 15px;
  font-size: 1rem;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.breadcrumb img, .tag img {
  margin-right: 5px;
}

.search-bar input {
  flex: 1;
  border: none;
  padding: 10px;
  outline: none;
  border-radius: 15px;
  font-size: 1rem;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.tag-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

#user-icon {
  position: relative;
  height: 50px;
  width: 50px;
}

#user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

#admin-gear,
#super-admin-crown {
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: 0;
  right: 0;
}
