#sidebar-container {
  width: 20vw;
  height: 100vh;
  min-height: 100vh;
  background-color: #343a40;
  color: #fff;
}

#sidebar-container .sidebar-heading {
  font-size: var(--font-size);
  border-bottom: 0.5px solid #EEEEEE;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1.25rem;
  padding-left: 1rem;
}

#sidebar-container .list-group-item {
  padding: 1rem;
  border: none;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: #343a40;
  transition: background-color 0.3s;
}

#sidebar-container .list-group-item:hover,
#sidebar-container .list-group-item.active {
  background-color: #000;
}

#sidebar-container .list-group-item.no-hover:hover {
  background-color: #343a40;
}

#sidebar-container .list-group-item.no-hover {
  border-bottom: 0.5px solid black;
  padding-bottom: 10px;
}

#sidebar-container .list-group-item i {
  margin-right: 15px;
  font-size: 18px;
}

#sidebar-container .list-group-item.no-hover input[type='checkbox'] {
  margin-right: 14px;
  width: 15px;
  height: 15px;
}

#sidebar-container .list-group-item.no-hover label {
  margin-top: 10px;
  font-size: 1rem;
}
