#sidebar-container {
  width: 20vw;
  height: 100vh;
  min-height: 100vh;
  background-color: black;
  color: #fff;
}

#sidebar-container .sidebar-heading {
  font-size: calc(1.275rem + .3vw)!important;
  border-bottom: 1px solid #EEEEEE;
}

#sidebar-container .list-group-item {
  display: flex;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s;
  border: none;
  font-size: 1rem;
}

#sidebar-container .sidebar-heading,
#sidebar-container .list-group-item {
  padding: 1.25rem;
}

#sidebar-container .list-group-item:hover,
#sidebar-container .list-group-item.active {
  background-color: #343a40;
}

#sidebar-container .list-group-item,
#sidebar-container .list-group-item.no-hover:hover {
  background-color: black;
}

#sidebar-container .list-group-item.no-hover {
  border-bottom: 1px solid #EEEEEE;
}

#sidebar-container .list-group-item i {
  font-size: 1.2em;
}

#sidebar-container .list-group-item.no-hover input[type='checkbox'] {
  margin: 0px;
  width: 16px;
  height: 16px;
}

#sidebar-container .list-group-item i,
#sidebar-container .list-group-item.no-hover input[type='checkbox'] {
  margin-right: 12px;
}
