.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed position to cover the whole screen */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--zindex-modal);
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  flex-direction: column; /* Add this to stack children vertically */
  justify-content: flex-start; /* Align to the top */
  align-items: center; /* Center items horizontally */
  overflow: auto; /* Scroll if needed */
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  margin: auto;
  max-height: 90vh;
  overflow-y: auto; /* Scroll inside if needed */
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 20px;
}

#cancel-button {
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 0.875rem;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  border: none;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
  background-color: transparent;
  color: #007BFF;
}

#cancel-button:hover,
#cancel-button:focus {
  background-color: #f2f2f2;
  color: #007BFF;
}

form label {
  display: block;
  margin-top: 10px;
}

form input[type="text"],
form input[type="number"],
form select {
  width: 100%;
  padding: 5px;
}
